@media only screen and (max-width: 768px) {
  .title h1 {
    font-size: 2rem;
  }
  .title .container-title {
    flex-direction: column;
  }
  .title .container-title img {
    border-radius: 15%;
    width: 200px;
    height: 250px;
  }
  .title .container-title .txt-principal .p1 {
    font-size: 1rem;
  }
  .title .container-title .txt-principal .p2 {
    font-size: 1rem;
  }
  main #info h2 {
    font-size: 2rem;
  }
  main #info .container-p {
    flex-direction: column;
  }
  main #info .container-p div {
    width: 80%;
  }
  main #info .container-p div p {
    font-size: 1rem;
  }
  main #contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 15px;
    border-top: 5px #E4D587 solid;
    border-radius: 15px;
  }
  main #contacto h2 {
    text-align: center;
    margin: 25px;
    font-size: 3rem;
  }
  main #contacto .carousel {
    width: 400px;
    height: 450px;
  }
  main #contacto .carousel img {
    width: 350px;
    height: 450px;
  }
}
.redes {
  display: flex;
  flex-direction: column;
}
.redes .f-text {
  padding: 50px;
}
.redes .f-text p {
  text-align: center;
  margin: 25px;
  font-size: 2rem;
}
.redes .f-redes {
  display: flex;
  flex-direction: row;
  margin: 10% 10% 10% 15%;
  padding: 15px;
}
.redes .f-redes a {
  text-decoration: none;
}
.redes .f-redes a img {
  width: 25%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0b85e;
}
body .title {
  margin: 25px;
  padding: 15px;
}
body .title h1 {
  text-align: center;
  margin: 25px;
  font-size: 3rem;
}
body .title .container-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-top: 5px #E4D587 solid;
  border-bottom: 5px #E4D587 solid;
  border-radius: 50px;
  padding: 25px;
}
body .title .container-title .pic-principal img {
  border-radius: 15%;
  width: 400px;
  height: 450px;
}
body .title .container-title .txt-principal .p1 {
  font-size: 2rem;
}
body .title .container-title .txt-principal .p2 {
  font-size: 2rem;
}
body main #recetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7.5%;
  border-top: 5px #E4D587 solid;
  border-bottom: 5px #E4D587 solid;
  border-radius: 50px;
  padding: 25px;
}
body main #info h2 {
  text-align: center;
  margin: 25px;
  font-size: 3rem;
}
body main #info .container-p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
body main #info .container-p div {
  border-left: 5px #E4D587 solid;
  border-right: 5px #E4D587 solid;
  border-radius: 35px;
  padding: 25px;
  margin: 25px;
  width: 35%;
}
body main #info .container-p div p {
  font-size: 2rem;
}
body main #contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 15px;
  border-top: 5px #E4D587 solid;
  border-radius: 15px;
}
body main #contacto h2 {
  text-align: center;
  margin: 25px;
  font-size: 3rem;
}
body main #contacto .carousel {
  width: 700px;
  height: 750px;
  margin: 25px;
}
body main #contacto .carousel img {
  border-left: 5px #E4D587 solid;
  border-right: 5px #E4D587 solid;
  padding: 25px;
  border-radius: 15%;
  width: 650px;
  height: 750px;
  margin: 35px;
}
body .redes {
  display: flex;
  flex-direction: column;
}
body .redes .f-text {
  padding: 50px;
}
body .redes .f-text p {
  text-align: center;
  margin: 25px;
  font-size: 2rem;
}
body .redes .f-redes {
  display: flex;
  flex-direction: row;
  margin: 10% 10% 10% 15%;
  padding: 15px;
}
body .redes .f-redes a {
  text-decoration: none;
}
body .redes .f-redes a img {
  width: 25%;
}
body .redes .f-redes a :hover {
  border-left: 5px #E4D587 solid;
  border-right: 5px #E4D587 solid;
  padding: 5px;
  width: 30%;
  border-radius: 15px;
  transition: all 0.5s;
}/*# sourceMappingURL=style.css.map */