
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}



    // DESKTOP
    body {
        background-color: #d0b85e;

        .title {
            margin: 25px;
            padding: 15px;

            h1 {
                text-align: center;
                margin: 25px;
                font-size: 3rem;
            }

            .container-title {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 25px;
                border-top: 5px #E4D587 solid;
                border-bottom: 5px #E4D587 solid;
                border-radius: 50px;
                padding: 25px;

                .pic-principal {


                    img {
                        border-radius: 15%;
                        width: 400px;
                        height: 450px;

                    }
                }

                .txt-principal {
                    .p1 {
                        font-size: 2rem;
                    }

                    .p2 {
                        font-size: 2rem;
                    }
                }
            }
        }

        // TITLE

        main {
            #recetas {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 7.5%;
                border-top: 5px #E4D587 solid;
                border-bottom: 5px #E4D587 solid;
                border-radius: 50px;
                padding: 25px;
                justify-content: center;
                align-items: center;
                .video{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    margin: 30px 30px 30px 60px;
                    h4{
                        font-size: 1.5rem;
                    }
                }
                .video :hover{
                    font-size: 2rem;
                    text-decoration: overline;
                }
            }

            // RECETAS
            #info {
                h2 {
                    text-align: center;
                    margin: 25px;
                    font-size: 3rem;
                }

                .container-p {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;

                    div {
                        border-left: 5px #E4D587 solid;
                        border-right: 5px #E4D587 solid;
                        border-radius: 35px;
                        padding: 25px;
                        margin: 25px;
                        width: 35%;

                        p {
                            font-size: 2rem;
                            font-family: 'Chivo Mono', monospace;
                        }
                    }
                }

                // CONTAINER INFO P
            }

            // INFO

            #contacto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 50px;
                padding: 15px;
                border-top: 5px #E4D587 solid;
                border-radius: 15px;

                h2 {
                    text-align: center;
                    margin: 25px;
                    font-size: 3rem;
                }

                .carousel {
                    width: 700px;
                    height: 750px;
                    margin: 25px;

                    img {
                        border-left: 5px #E4D587 solid;
                        border-right: 5px #E4D587 solid;
                        padding: 25px;
                        border-radius: 15%;
                        width: 650px;
                        height: 750px;
                        margin: 35px;
                    }
                }
            }

            // CONTACTO
        }

        // CONTENIDO

        .redes {
            display: flex;
            flex-direction: column;

            .f-text {
                padding: 50px;

                p {
                    text-align: center;
                    margin: 25px;
                    font-size: 2rem;
                }
            }

            .f-redes {
                display: flex;
                flex-direction: row;
                margin: 10% 10% 10% 15%;
                padding: 15px;

                a {
                    text-decoration: none;

                    img {
                        width: 25%;
                    }
                }

                a :hover {
                    border-left: 5px #E4D587 solid;
                    border-right: 5px #E4D587 solid;
                    padding: 5px;
                    width: 30%;
                    border-radius: 15px;
                    transition: all 0.5s;
                }
            }
        } // FOOTER

    } // BODY




    // MOBILE


@media screen and (max-width: 768px) {
    .title {
        h1 {
            font-size: 2rem!important;
        }

        .container-title {
            flex-direction: column!important;

            img{
                border-radius: 15%!important;
                width: 200px!important;
                height: 250px!important;
            }

            .txt-principal {
                .p1 {
                    font-size: 1rem!important;
                }

                .p2 {
                    font-size: 1rem!important;
                }
            }
        }
    }
    // titulo
    main {
        #info {
            h2 {
                font-size: 2rem!important;
            }

            .container-p {
                flex-direction: column!important;
                div {
                    width: 80%!important;
                    p {
                        font-size: 1rem!important;
                    }
                }
            }

            // CONTAINER INFO P
        }
        #contacto{
            border-radius: 25px!important;
            h2 {

                font-size: 2rem!important;
            }

            .carousel {
                width: 400px!important;
                height: 450px!important;
                img {
                    width: 350px!important;
                    height: 450px!important;
                    }
            }
        }

        // CONTACTO
    }
    
    .redes {
        .f-text {
            p {
                font-size: 1.5rem!important;
            }
        }

        .f-redes{
            a {
                text-decoration: none!important;

                img {
                    width: 55%!important;
                }
            }
        }
    } // FOOTER
} 