* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Changa", sans-serif;
}

body {
  background-color: #d0b85e;
}
body .title {
  margin: 25px;
  padding: 15px;
}
body .title h1 {
  text-align: center;
  margin: 25px;
  font-size: 3rem;
}
body .title .container-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-top: 5px #E4D587 solid;
  border-bottom: 5px #E4D587 solid;
  border-radius: 50px;
  padding: 25px;
}
body .title .container-title .pic-principal img {
  border-radius: 15%;
  width: 400px;
  height: 450px;
}
body .title .container-title .txt-principal .p1 {
  font-size: 2rem;
}
body .title .container-title .txt-principal .p2 {
  font-size: 2rem;
}
body main #recetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7.5%;
  border-top: 5px #E4D587 solid;
  border-bottom: 5px #E4D587 solid;
  border-radius: 50px;
  padding: 25px;
  justify-content: center;
  align-items: center;
}
body main #recetas .video {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 30px 60px;
}
body main #recetas .video h4 {
  font-size: 1.5rem;
}
body main #recetas .video :hover {
  font-size: 2rem;
  text-decoration: overline;
}
body main #info h2 {
  text-align: center;
  margin: 25px;
  font-size: 3rem;
}
body main #info .container-p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
body main #info .container-p div {
  border-left: 5px #E4D587 solid;
  border-right: 5px #E4D587 solid;
  border-radius: 35px;
  padding: 25px;
  margin: 25px;
  width: 35%;
}
body main #info .container-p div p {
  font-size: 2rem;
  font-family: "Chivo Mono", monospace;
}
body main #contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 15px;
  border-top: 5px #E4D587 solid;
  border-radius: 15px;
}
body main #contacto h2 {
  text-align: center;
  margin: 25px;
  font-size: 3rem;
}
body main #contacto .carousel {
  width: 700px;
  height: 750px;
  margin: 25px;
}
body main #contacto .carousel img {
  border-left: 5px #E4D587 solid;
  border-right: 5px #E4D587 solid;
  padding: 25px;
  border-radius: 15%;
  width: 650px;
  height: 750px;
  margin: 35px;
}
body .redes {
  display: flex;
  flex-direction: column;
}
body .redes .f-text {
  padding: 50px;
}
body .redes .f-text p {
  text-align: center;
  margin: 25px;
  font-size: 2rem;
}
body .redes .f-redes {
  display: flex;
  flex-direction: row;
  margin: 10% 10% 10% 15%;
  padding: 15px;
}
body .redes .f-redes a {
  text-decoration: none;
}
body .redes .f-redes a img {
  width: 25%;
}
body .redes .f-redes a :hover {
  border-left: 5px #E4D587 solid;
  border-right: 5px #E4D587 solid;
  padding: 5px;
  width: 30%;
  border-radius: 15px;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 2rem !important;
  }
  .title .container-title {
    flex-direction: column !important;
  }
  .title .container-title img {
    border-radius: 15% !important;
    width: 200px !important;
    height: 250px !important;
  }
  .title .container-title .txt-principal .p1 {
    font-size: 1rem !important;
  }
  .title .container-title .txt-principal .p2 {
    font-size: 1rem !important;
  }
  main #info h2 {
    font-size: 2rem !important;
  }
  main #info .container-p {
    flex-direction: column !important;
  }
  main #info .container-p div {
    width: 80% !important;
  }
  main #info .container-p div p {
    font-size: 1rem !important;
  }
  main #contacto {
    border-radius: 25px !important;
  }
  main #contacto h2 {
    font-size: 2rem !important;
  }
  main #contacto .carousel {
    width: 400px !important;
    height: 450px !important;
  }
  main #contacto .carousel img {
    width: 350px !important;
    height: 450px !important;
  }
  .redes .f-text p {
    font-size: 1.5rem !important;
  }
  .redes .f-redes a {
    text-decoration: none !important;
  }
  .redes .f-redes a img {
    width: 55% !important;
  }
}/*# sourceMappingURL=style.css.map */